<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width- initial-scale=1">

    <title> Pet Online - Reserve já o banho do seu pet </title>
    <!-- Link boostrap-->
    <link href="/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .bd-placeholder-img{
            font-size: 1.125rem;
            text-anchor:middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        @media (min-width: 768px){
            .bd-placeholder-img-lg{
                font-size: 3.5rem;
            }
        }
    </style>
    <link href="starter-template.css" rel="stylesheet">
<head>
<body>
    <div class="col-lg-8 mx-auto p-3 my-md-5">
        <header class="d-flex align-items-center text-dark text-decoration-none">
            <a>
                <span class="fs-4">Pet online </span>
            </a>
        </header> 
    <main>
        <h1> Reserva já o banho do seu Pet </h1>
    </main>
    <footer class="pt-5 my-5 text-muted border-top">
        Curso python ultima school
    </footer>
    </div>
    <script src="boostrap.bundle.min.js"></script>
</body>
</html>